<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
 H1{background-color:green;color:yellow;}
 p{background-color: aqua;color: blue;}
 h2{background-color: chartreuse;color: blueviolet;}
<body>
    
</body>
</html>